<app-match-media-query mediaQuery="(max-width: 992px)">
<app-header></app-header></app-match-media-query>
<main class="container-fluid">

  <!-- Full Screen -->
  <app-match-media-query mediaQuery="(min-width: 993px)">
    <ngb-accordion #acc="ngbAccordion">
      <ngb-panel title="Sommaire des transactions et des revenus">
        <ng-template ngbPanelContent>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">DESCRIPTION</th>
                <th scope="col">MONTANT</th>
                <th scope="col">DATE</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let item of incomeExpenseList"
                [ngClass]="
                  item.isIncome
                    ? 'revenu'
                    : 'depense'
                "
              >
                <td>{{ item.description }}</td>
                <td>{{ item.montant | currency }}</td>
                <td>{{ item.date }}</td>
              </tr>
            </tbody>
          </table>
        </ng-template>
      </ngb-panel>
    </ngb-accordion>
  </app-match-media-query>

  <!-- Mobile -->
  <app-match-media-query mediaQuery="(max-width: 992px)">
    <h1>Sommaire des transactions</h1>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">DESCRIPTION</th>
          <th scope="col" class="text-end">MONTANT</th>
          <th scope="col" class="text-end">DATE</th>
        </tr>
      </thead>
      <tbody>
        <!-- * Table principale Détails -->
        <tr
          *ngFor="let item of incomeExpenseList"
          [ngClass]="
            item.isIncome
              ? 'revenu'
              : 'depense'
          "
        >
          <td>{{ item.description }}</td>
          <td class="text-end">{{ item.montant | currency }}</td>
          <td class="text-end">{{ item.date | date: "longDate":"undefined":"fr" }}</td>
        </tr>

        <!-- * Table secondaire revenu -->
        <tr
          *ngFor="let income of SummaryIncome"
          [ngClass]="'revenu'"
        >
          <td>{{ income.description }}</td>
          <td class="text-end">{{ income.montant | currency }}</td>
          <td class="text-end">{{ income.date | date: "longDate":"undefined":"fr" }}</td>
        </tr>

        <!-- * Table secondaire dépenses -->
        <tr
          *ngFor="let expense of SummaryDepense"
          [ngClass]="
            expense.isIncome
              ? 'revenu'
              : 'depense'
          "
        >
          <td>{{ expense.description }}</td>
          <td class="text-end">{{ expense.montant | currency }}</td>
          <td class="text-end">{{ expense.date | date: "longDate":"undefined":"fr" }}</td>
        </tr>
      </tbody>
    </table>
  </app-match-media-query>

  <!--RETOUR TABLEAU DE BORD -->
  <button class="btn-som-complet" routerLink="/tableauDeBord">
    RETOUR AU TABLEAU DE BORD
  </button>

  </main><app-match-media-query mediaQuery="(max-width: 992px)">
  <app-footer></app-footer>
</app-match-media-query>
