<app-header></app-header>
<h1>Ajouter un revenu</h1>

<!--graphique des revenus-->
<div *ngIf="incomeList">
  <app-income-chart width="20" height="20"></app-income-chart>
</div>

<!-- !  Nouveau tableau avec API Rest-->
<form
  name="income"
  #addIncome="ngForm"
  (ngSubmit)="onSave(addIncome)"
  novalidate
>
  <!-- *Ajout description -->
  <form class="example-form">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input
        name="description"
        ngModel
        pattern="[a-zA-Z ]*"
        [(ngModel)]="revenu.description"
        name="description"
        #description="ngModel"
        minlength="2"
        maxlength="25"
        matInput
        placeholder="Ex loyer"
        required
      />
      <mat-error
        *ngIf="
          description.invalid &&
          (description.dirty || description.touched) &&
          description.hasError('required')
        "
      >
        La description est obligatoire.</mat-error
      >
      <mat-error
        *ngIf="
          description.invalid &&
          (description.dirty || description.touched) &&
          description.hasError('minlength')
        "
      >
        Doit contenir au moins 2 caractères.</mat-error
      >
      <mat-error
        *ngIf="
          description.invalid &&
          (description.dirty || description.touched) &&
          description.hasError('maxlength')
        "
      >
        Le nom doit contenir au maximum 50 caractères.</mat-error
      >
    </mat-form-field>

    <!--   *Ajout montant -->
    <form name="income" class="example-form">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Montant</mat-label>
        <input
          type="number"
          name="montant"
          [(ngModel)]="revenu.montant"
          name="montant"
          #montant="ngModel"
          matInput
          placeholder="Ex 150"
          required
        />
        <mat-error
          *ngIf="
            montant.invalid &&
            (montant.dirty || montant.touched) &&
            montant.hasError('required')
          "
          >Le montant est obligatoire.</mat-error
        >
        <span matSuffix>$&nbsp;</span>
      </mat-form-field>

      <!-- *Calculatrice -->
      <button type="button" (click)="openCalculatorModal(content)">
        <i class="fa-solid fa-calculator"></i>
      </button>

      <!-- *Ajout date -->
      <form name="income" class="example-form">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Date</mat-label>
          <input
            type="text"
            name="date"
            [(ngModel)]="revenu.date"
            name="date"
            #date="ngModel"
            min="2000-01-01"
            required
            matInput
            placeholder="Ex 2022-08-19"
          />
          <mat-error
            *ngIf="
              date.invalid &&
              (date.dirty || date.touched) &&
              date.hasError('required')
            "
            >La date est obligatoir.</mat-error
          >
          <mat-error
            *ngIf="
              date.invalid &&
              (date.dirty || date.touched) &&
              date.hasError('minlength')
            "
            >La date doit être au format: 2022-05-10</mat-error
          >
          <mat-error
            *ngIf="
              date.invalid &&
              (date.dirty || date.touched) &&
              date.hasError('maxlength')
            "
          ></mat-error>
        </mat-form-field>

        <!-- * bouton action ajout -->
        <div>
          <button
            class="btn-som-revenu"
            matSuffix
            type="submit"
            mat-raised-button
            [disabled]="!addIncome.form.valid"
            (click)="onSave(addIncome)"
          >
            <mat-icon>+ AJOUTER</mat-icon>
          </button>
        </div>
      </form>

      <!-- SOMMAIRE COMPLET DES REVENUS-->
      <app-income-table></app-income-table>

      <!-- RETOUR SOMMAIRE COMPLET DES DÉPENSES / REVENUS  -->
      <button class="btn-som-complet" routerLink="/sommaire">
        SOMMAIRE COMPLET DES DÉPENSES ET REVENUS</button
      ><br />
      <!-- RETOUR TABLEAU DE BORD -->
      <button class="btn-som-complet" routerLink="/tableauDeBord">
        RETOUR AU TABLEAU DE BORD
      </button>

      <!-- Calc Modal -->
      <ng-template #content let-modal>
        <div class="modal-header">
          <button
            type="button"
            class="btn-close"
            aria-label="Close"
            (click)="modal.dismiss()"
          ></button>
        </div>
        <div class="modal-body">
          <app-calculatrice></app-calculatrice>
        </div>
      </ng-template>
    </form>
  </form>

  <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
  <app-footer></app-footer>
</form>
