<section>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Catégorie</th>
        <th scope="col">Montant</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let income of incomeList" [ngClass]="'text-success'">
        <td class="d-none">{{ income._id }}</td>
        <td>{{ income.description }}</td>
        <td>{{ income.montant | currency }}</td>
        <td>{{ income.date | date: "longDate":"undefined":"fr" }}</td>
        <td>
          <i
            class="fa fa-trash"
            aria-hidden="true"
            (click)="removeIncome(income)"
          ></i>
        </td>
      </tr>
    </tbody>
  </table>
</section>
