body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 0.875rem;
  background-image: url("../../assets/img/stripes-light.png");
}

main {
  margin: 50px 0;
}

.bordure {
  margin: 20px 0 50px;
  border-top: 15px solid #da1a32;
  border-bottom: 15px solid #da1a32;
  height: 40px;
}

.btn-som-revenu {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #1e8922;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
}
.btn-som-revenu:hover {
  background-color: #0E4810;
}

.btn-som-depense {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #da1a32;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
}
.btn-som-depense:hover {
  background-color: #b51529;
}

.btn-som-complet {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #215193;
  color: #fff;
  text-transform: uppercase;
  margin: 20px 0;
}
.btn-som-complet:hover {
  background-color: #031224;
}

.btn-periode-revenu {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  color: #fff;
  text-transform: uppercase;
  color: #1e8922;
  border: 1px solid #1e8922;
  width: 80%;
}
.btn-periode-revenu:hover {
  background-color: #ffffff;
}
.btn-periode-revenu:hover {
  color: #0E4810;
  border-color: #0E4810;
}

.btn-periode-depense {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #ffffff;
  color: #fff;
  text-transform: uppercase;
  color: #da1a32;
  border: 1px solid #da1a32;
  width: 80%;
}
.btn-periode-depense:hover {
  background-color: #ffffff;
}
.btn-periode-depense:hover {
  color: #b51529;
  border-color: #b51529;
}

.btn-filtre {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #1e8922;
  color: #fff;
  text-transform: uppercase;
}
.btn-filtre:hover {
  background-color: #0E4810;
}

.btn-filtre-depense {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #da1a32;
  color: #fff;
  text-transform: uppercase;
}
.btn-filtre-depense:hover {
  background-color: #b51529;
}

::placeholder {
  color: #dbdbdb;
  font-size: 0.875rem;
}

input {
  color: #215193;
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin: 10px 0 20px 0;
}

.input100 {
  width: 100%;
}

footer {
  padding: 50px 0;
}

footer img {
  width: 96px;
}

footer p {
  font-family: "Barlow Condensed", sans-serif;
  padding-top: 45px;
  color: #ffffff;
}

footer p a {
  color: #ffffff;
  text-decoration: none;
}
footer p a:hover {
  color: #da1a32;
}

#rs {
  margin-top: 20px;
}

#rs i.fa-brands {
  font-size: 50px;
  color: #ffffff;
}
#rs i.fa-brands:hover {
  color: #da1a32;
}

.revenu {
  color: #1e8922;
}

.depense {
  color: #da1a32;
}

header {
  background-image: url("../../assets/img/bg-header.png");
  background-repeat: repeat-x;
  background-color: #ffffff;
  box-shadow: 0 0 15px #000043;
  padding-bottom: 15px;
}

button {
  border: none;
  background-color: transparent;
  color: #215193;
  font-size: 30px;
  padding-top: 25px;
}

button:hover {
  color: #b51529;
}

nav img {
  width: 195px;
}

nav a#logo {
  background-image: url("../../assets/img/abacus-logo_horizontal.svg");
  background-repeat: no-repeat;
  width: 195px;
  height: 50px;
}

nav a#logo:hover {
  background-image: url("../../assets/img/abacus-logo_horizontal-hover.svg");
}

.btn-revenu {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #1e8922;
  color: #fff;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 0px 0px 10px 10px;
}
.btn-revenu:hover {
  background-color: #0E4810;
}
.btn-revenu:hover {
  color: #ffffff;
}

.btn-depense {
  font-family: "Barlow Condensed", sans-serif;
  padding: 0.5rem 2rem;
  border-radius: 5px;
  border: 0;
  background-color: #da1a32;
  color: #fff;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 20px;
  padding: 15px 30px;
  border-radius: 0px 0px 10px 10px;
}
.btn-depense:hover {
  background-color: #b51529;
}
.btn-depense:hover {
  color: #ffffff;
}

.fa-solid {
  font-size: 2.25rem;
  line-height: 3rem;
  padding-bottom: 0.75rem;
  color: #215193;
}
.fa-solid:hover {
  color: #da1a32;
}

ul.navba-bar {
  width: 200px;
}

a {
  font-family: "Barlow Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 3.25rem;
  text-transform: uppercase;
  padding-left: 1rem;
}

#tableauBord {
  border-top: 4px solid #215193;
  border-bottom: 4px solid #215193;
  margin-bottom: 0.15rem;
}

#tableauBord li a {
  color: #215193;
  border-bottom: 1px solid #215193;
  padding-left: 1rem;
}
#tableauBord li a:hover {
  color: #ffffff;
  background-color: #C7D3E4;
}

#depenses {
  border-top: 4px solid #da1a32;
  border-bottom: 4px solid #da1a32;
  margin-bottom: 0.15rem;
}

#depenses li a {
  color: #da1a32;
  border-bottom: 1px solid #da1a32;
  padding-left: 1rem;
}
#depenses li a:hover {
  color: #ffffff;
  background-color: #F6C5CB;
}

#revenus {
  border-top: 4px solid #1e8922;
  border-bottom: 4px solid #1e8922;
  margin-bottom: 0.15rem;
}

#revenus li a {
  color: #1e8922;
  border-bottom: 1px solid #1e8922;
  padding-left: 1rem;
}
#revenus li a:hover {
  color: #ffffff;
  background-color: #C6E1C7;
}

#fonctionnalites {
  border-top: 4px solid #a7a6a6;
  border-bottom: 4px solid #a7a6a6;
  margin-bottom: 0.15rem;
}

#fonctionnalites li a {
  color: #a7a6a6;
  border-bottom: 1px solid #a7a6a6;
  padding-left: 1rem;
}
#fonctionnalites li a:hover {
  color: #ffffff;
  background-color: #dbdbdb;
}/*# sourceMappingURL=header.component.css.map */