<div>
  <!--  balance  -->
  <!-- NAVBAR en attendant  -->
  <!-- <app-header></app-header> -->

  <h1>Sommaire des dépenses</h1>

  <ngb-accordion #acc="ngbAccordion">
    <ngb-panel title="Sommaire des dépenses">
      <ng-template ngbPanelContent>
        <button
          type="button"
          class="btn btn-outline-success"
          (click)="collapse.toggle()"
          [attr.aria-expanded]="!isCollapsed"
          aria-controls="collapseExample"
        >
          Choisir la période désirée
        </button>

        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
          <div>
            <input type="date" placeholder="Du" #dateO />
            <input type="date" placeholder="Au" #dateT />
            <button
              class="m-1 btn btn-primary"
              (click)="doFilter(dateO, dateT)"
            >
              Filter
            </button>
          </div>
        </div>

        <app-expense-table
          [dateOne]="dateOne"
          [dateTwo]="dateTwo"
        ></app-expense-table>
      </ng-template>
    </ngb-panel>
  </ngb-accordion>

  <button
    type="button"
    class="btn-periode-depense"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseExample"
  >
    Choisir la période désirée
  </button>

  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <div>
      <input type="date" placeholder="Du" #dateO />
      <input type="date" placeholder="Au" #dateT />
      <button class="m-1 btn-filtre-depense" (click)="doFilter(dateO, dateT)">
        Filtrer
      </button>
    </div>
  </div>
  <div ngbDropdown class="d-inline-block">
    <i class="fa-solid fa-calendar-days"></i>

    <h2>Dépenses</h2>
  </div>
</div>
